# API Configuration
VITE_API_URL=http://localhost:5000/api

# App Configuration
VITE_APP_NAME=HuellarioSoft
VITE_APP_VERSION=1.0.0

# Token Configuration
VITE_TOKEN_COOKIE_NAME=
VITE_REFRESH_TOKEN_COOKIE_NAME=

# Environment
VITE_ENV=
